*{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.image{
    height: 300px;
    width: 500px;
}

.room-name{
    font-size: 23px;
}

h2{
    font-size: 42px;
    margin:0 auto;
    color:#9b001a;
}

h3{
    color:black;
}

ul.content{
    border:2px solid black;
    /* border:2px solid #8D8741; */
    border-radius:12px;
    width:85%;
    margin:0 auto;
    display:flex;
    background-color:white;
}

.description{
    width: 40%;
    font-size:18px;
    text-align: left;
    text-indent: 2em;
}

.middle{
    display:flex;
    flex-direction: column;
    margin:0 30px;
    font-size:18px;
    align-items: right;
    width:25%;

}

.image{
    position:absoulte;
    margin-right:0px;
    width:35%;
    object-fit: fill;
    /* border-radius: 8px; */
}

.parent-div{
    width:85%;
    margin: 0 auto;
    background-image: url(../../../public/images/pictureframe.jpg);
    /* background-size: 150em; */
}
