*{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}


.landing-page{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin:0 auto;
    background-color: white;
    background-image:url(../../../public/images/bike.jpg);
    background-size:100em;
}

.img-landingpage{

    width: 90%;
    height: 600px;
    border: 3px #F6CF65 solid;
    border-radius: 12px;
    position: absolute;
    bottom:15%;

}

.landing-h1{
    position: absolute;
    /* z-index: 1; */
    bottom:80%;
    font-size: 40px;
    color:white;
}

.things{
    /* color:cornsilk; */
    color:#9f8170;

}
