.signup-container{
    display:block;
    box-sizing: border-box;
    /* border:2px black solid; */
    margin-left: auto;
    margin-right:auto;
    width:15%;
}

.signup-content{
    margin-left: 17px;
}

label{
    display:block;
    font-size: 17px;
}
input{
    display:block;
    margin-bottom: 12px;
    padding:2px;
}

.submit-button{
    margin-left: 48px;
    /* margin-left:auto;
    margin-right:auto; */
}





