
.signup-container{
    height: 100vh;
    background-image: url(../../../public/images/stamps.jpg);
    background-size: cover;
    width:85%;
    margin:0 auto;
}

h1.signup-header{
    color:black;
}

.signup-content{
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin:0 auto;
    padding: 15px;
    width:85%;

}

.signup-content label{
    font-size: 18px;
    width:85%;
}


.signup-content li{
    color:red;
    font-size:17px;
    justify-content: left;
    background-color:white;
    width:32%;
}

.signup-button{
    margin-top:5px;
    width:7%;
    font-weight:bold;
    border: 1px solid black;
}

div.signup-container input{
    border: solid 1px black;
    width: 40%;
    display:block;
    margin-bottom:12px;
    padding: 5px 0px;
}
