.signup-header{
    font-size: 25px;
}

.signup-container{
    display:block;
    box-sizing: border-box;
    border:2px black solid;
    margin-left: auto;
    margin-right:auto;
    width:33%;
    padding-bottom: 15px;
}

.signup-content{
    margin-left: 95px;
    
}

label{
    display:block;
    font-size: 17px;
}
input{
    display:block;
    margin-bottom: 12px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 110px;
}

.submit-button{
    padding: 5px 20px;
    margin-left:auto;
    margin-right:auto;
}





