/* button{
    width:30px;
    height: 30px;
} */

.profile-button-div{
    border: solid 2px black;
    padding: 3px;
    background-color: white;
}

.profile-button-div li{
    margin:0 auto;
}

ul.profile-dropdown{
    display:flex;
    flex-direction: column;
}

.log-out-button{
    width: 50px;
    height: 35px;
    font-weight: bold;
    border: solid 2px black;
}


.nav-icon-button{
    width:30px;
    height: 25px;
    background-image: url(../../../public/images/better\ menu.png);
    outline: none;
    border: 1px solid transparent;
}

.profile-dropdown{
    color:darkred;
    font-weight: bold;
}
