.login{
    width:400px;
    border: 2px grey solid;
    border-radius: 10px;
    padding: 30px 50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    background-color: #00043f;

}

.login-form-header{
    font-size:30px;
    color:#d3af37;
}

.login-errors{
    color:red;
    font-size: 17px;
}

.login label{
    font-size: 18px;
    color:#d3af37;
    margin: 5px 0;
}

.login input{
    display:block;
    width: 60%;
    margin: 5px 0;
}

.login .login-button{
    width: 100px;
    height: 25px;
    margin-top: 10px;
    border: solid 1px black;
    font-weight: bold;

}
